/*bio image*/

.bio_image{
	background-image: url("../images/bio_image.png");
	z-index: 5;
	background-repeat: no-repeat;

	@media screen and (max-width: 745px) {
	background-image: url("../images/bio_image2.png");	
	}	

}



/*portfolio arrow image*/
div.arrow_div{
	width:100%;
	text-align: center;
	display:block;
	width:100%;
	position: relative;
	bottom:-270px;
}

.arrow_div img{
	
	
	z-index: 5;
	
	margin:0 auto;
}

