/*main welcome quote*/

.quote_background{
	z-index: 1;
	background-color: $color-main;
	max-width:950px;
	margin-top:30px;
	@include block-center;
	opacity: 0.8;
	@include roundy(4px);
}
.welcome_quote{
	z-index: 1;
	color:white;
	font-size: 35px;
	text-align: center;
	padding:5px;
	font-family: $main-header-font;
}


/*H2 PAGE HEADINGS*/

h2{
	font-size:39px;
	color:$color-highlight;
	z-index: 1;
	width:230px;
	text-align: center;
	@include block-center;
	padding-top:30px;
	font-family: $nav-font;
	font-weight: bold;
}

/*Make a short line appear under headings*/

h2:after {
  content:'';
  display:block;
  height:0.2em;
  width:35%;
  @include block-center;
  border-bottom:solid ;
}

/*BIO TEXT */

.bio_text_block{

	padding-top: 18px;
	width:410px;
	@include block-center;
	padding-left:55px;
	
}

h3{
	color:$color-headers;
	font-weight:bold;
	font-size: 18px;

}