
/*Full page wrapper*/




/*Full page wrapper*/

div.wrapper{
	min-height:100%;


	min-width: 100%;
	@include block-center;
	margin-bottom:-100px;
	z-index: -50;
	
}

div.wrapper{
	content:"";
	display:block;
	height:100%;
}



/*main nav-bar container*/

.nav_container{
	height:100%;
	width:100%;
	
}

